extends layout

block content
    div.container-fluid
        div.row
            h1 #{title} - #{date}
        br
        if dataLength > 1
            - for (var i = 0; i < dataLength; ++i) {
                div.row
                    label(for='keyword') Keyword: #{keyword[i]}
                div.row
                    label(for='firstTenMinutes') First 10 minutes: #{averageFirst[i]}
                div.row
                    label(for='lastTenMinutes') Last 10 minutes: #{averageLast[i]}
                div.row
                    label(for='quotient') Quotient: #{finalAverage[i]}
                div.row(style= 'overflow-x:auto')
                    table.table.table-dark(style='width:100%', border='1')
                        thead.thead-dark
                            tr
                                th= 'Datetime'
                                each time in times
                                    th= time
                        tbody
                            tr
                                td= 'Count'
                                each value in values[i]
                                    td= value

                if (i != (dataLength-1)) 
                    hr
                    br
                else
                    br
            - }
                
        else
            div.row
                label(for='keyword') Keyword: #{keyword}
            div.row
                label(for='firstTenMinutes') First 10 minutes: #{averageFirst}
            div.row
                label(for='lastTenMinutes') Last 10 minutes: #{averageLast}
            div.row
                label(for='quotient') Quotient: #{finalAverage}
            div.row(style= 'overflow-x:auto')
                table.table.table-dark(style='width:100%', border='1')
                    thead.thead-dark
                        tr
                            th= 'Datetime'
                            each time in times
                                th= time
                    tbody
                        tr
                            td= 'Count'
                            each value in values
                                td= value
        br
        div.row
            a(href='/') Back
            